body {
    background-color: lightblue;
}
h3 {
    color: darkblue;
    text-align: center;
}
.reg {
    border-bottom-color: #63ACD9;
    border-bottom-style: inset;
    color: #000000;
}
.authentication {
	width: 40%;
    margin: 0 auto;
}
.authentication .form {
	padding: 3%;
	border-radius: 5px;
	background: rgba(47, 89, 123, 0.6);
	margin-bottom: 3%;
	text-align: center;
}
.authentication .form > div {
	margin-bottom: 2%; 
}
.authentication .form label {
	font-size: 130%;
	color: #c8c8c8;
	margin-right: 2%; 
}
.authentication .form input[type="password"], .authentication .form input[type="text"], .authentication .form input[type="email"] {
	width: 20%;
	height: 35px;
	border-radius: 5px;
	padding: 1%;
	border: 1px solid #d2d2d2;
	outline: none;
	margin-right: 2%; 
}
.authentication .form input[type="email"] {
	width: 40%; 
}
.authentication .form input[type="submit"] {
	display: block;
	width: 25%;
	height: 35px;
	margin: 3% auto;
	background: #e2e2e2;
	box-shadow: 2px 2px 1px 0 #d2d2d2;
	border-radius: 5px;
	color: #353535;
	font-size: 120%;
	transition: ease 0.5s all;
}
.authentication .form input[type="submit"]:active {
	box-shadow: none;
	position: relative;
	top: 3px;
	outline: none;
	background: #f8390f;
	border: none; 
  }
.authentication .form input[type="submit"]:focus {
	outline: none;
	border: none; 
}