/*Team page*/

section.team {
    width:100%;
    padding:0;
    text-align: justify;
}

.team.about-img {
     float: left;
     width: 50%;
     height: 50%;
     -webkit-transition-duration: 0.5s;
 }

img.team.person{
    width: 80%;
    height: 80%;
}
.team.person-data {
    text-align: justify;
}

img.team.person:hover{
	-webkit-transform:scale(0.8);
	-webkit-box-shadow:0px 0px 30px #ccc;
}
img.team.active{
	-webkit-transform:scale(0.8);
	-webkit-box-shadow:0px 0px 30px #ccc;
}

.team.col-xs-4 {
    margin: 10 10 10 10;
}
.team.col-xs-8 {
    display: none;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 12px;
}
