.navbar {
	margin:0 auto;
}

.container {
	width:100%;
    padding:0;
}

.navbar-nav{
    margin:50px 0;
}

.navbar-header img{
    margin:24px 0;
}

img.visible-xs {
    margin:10px 0;
}

img.visible-sm{
    margin:50px 0;
}

.navbar-header button{
    margin:10px 0;
}

.nav li:hover {
    border-bottom: 2px solid lightblue;
}
.nav li.active a{
    border-bottom: 2px solid lightblue;
}