/* Header */

.navbar {
	margin:0 auto;
}

.container {
	width:100%;
    padding:0;
}

.navbar-nav{
    margin:50px 0;
}

.navbar-header img{
    margin:24px 0;
}

img.visible-xs {
    margin:10px 0;
}

img.visible-sm{
    margin:50px 0;
}

.navbar-header button{
    margin:10px 0;
}

.nav li:hover {
    border-bottom: 2px solid lightblue;
}

.nav li.active a{
    border-bottom: 2px solid lightblue;
}

/* Footer */

footer{
    background-color: #2479b1;
    color:white;
    margin-top:60px;
}

footer p.hidden-xs{
    text-align: center;
    margin-top: 38px;
}

footer p.visible-xs{
    text-align: center;
    margin-top: 5px;
}

#footer-img-1{
    width:130px;
    height:135px;
    margin-top:-60px;
}

#footer-img-2{
    width:100px;
    height:75px;
    margin-top:20px;
}

#footer-img-3{
    width:231px;
    height:72px;
    margin-top:-25px;
}
/*Team page*/
.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}
.about-img {
    float: left;
    width: 50%;
    height: 50%;
	-webkit-transition-duration: 0.5s;
}
.person-data {
    padding: 5px;
}

.row>.col-md-8 {
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 12px;
    font-size: 18px;
}
.test img:hover{
	-webkit-transform:scale(0.8);
	-webkit-box-shadow:0px 0px 30px #ccc;
}
.test .active{
	-webkit-transform:scale(0.8);
	-webkit-box-shadow:0px 0px 30px #ccc;
}
.col-xs-4 {
    margin: 10 10 10 10;
}
.col-xs-8 {
    display: none;
    text-align: justify;
}
.team {
	width: 80%;
	height: 80%;
}
