
body{
    font-size: 14px;
    font-family: "Open Sans";
}
/* Header */

.navbar {
	margin:0 auto;
}

.container {
	width:100%;
    padding:0;
    box-shadow: 0 5px 5px rgba(47, 105, 163, 0.8);
}

.navbar-nav{
    margin:50px 0;
}
ul.navbar-nav>li>a{
    padding:10px 10px;
    text-align: center;
}
.navbar-header img{
    margin:24px 0;
}

img.visible-xs {
    margin:10px 20px;
    width:125px;
    height: 42px;
}

img.visible-sm{
    margin:50px 0;
    width:125px;
    height: 42px;
}

.navbar-header button{
    margin:10px 20px;
}

.nav li:hover {
    border-bottom: 2px solid lightblue;
	margin-bottom: -2px;
}

.nav li.active a{
    border-bottom: 2px solid lightblue;
}
/* Content */
section{
    margin-top:2px;
}
section article.hidden-xs{
    position:relative;
}
section article img.slider-background{
    width: 100%;
}
section article img.slider-model{
    position: absolute;
    left:8%;
    bottom:0;
    height:90%;
}
section article .slider-main-button{
    padding-top:0;
    padding-left: 2%;
    background: rgba(47, 105, 163, 0.8);
    width:42%;
    height: 23%;
    position:absolute;
    left:45%;
    bottom:50%;
}
section article .slider-main-button h2{
    margin:3% 0;
    font-size: 2.5vw;
}
section article .slider-main-button p{
    font-size: 1.5vw;
}
section article .slider-main-button a{
    color: white;
    text-decoration: none;
}
section article .slider-register{
    padding-top:0;
    padding-left: 2%;
    background: rgb(47, 105, 163);
    width:19%;
    height: 13%;
    position:absolute;
    left:45%;
    bottom:37%;
}

section article .slider-register a{
    color: white;
    text-decoration: none;
}

section article .slider-register h2{
    margin:9% 7%;
    font-size: 1.5vw;
}

section article.visible-xs>div {
    width:100%;
    background: rgba(47, 105, 163, 0.8);
    padding: 10px 20px;
    text-align: center;
    color: white;
}

section article.visible-xs div:last-child{
    width:100%;
    background: rgb(47, 105, 163);
    text-align: center;
    padding:1% 0;
}
section article.visible-xs div a{
    color: white;
    text-decoration: none;
}
section article.visible-xs div:last-child h2{
    margin:4% 0;
}

/* Footer */

footer{
    background-color: #2479b1;
    color:white;
    margin-top:60px;
}
footer div.row{
    margin-right:0;
}

footer p.hidden-xs{
    text-align: center;
    margin-top: 38px;
}

footer p.visible-xs{
    text-align: center;
    margin-top: 5px;
}

#footer-img-1{
    width:130px;
    height:135px;
    margin-top:-60px;
}

#footer-img-2{
    width:100px;
    height:75px;
    margin-top:20px;
}

#footer-img-3{
    width:231px;
    height:72px;
    margin-top:-25px;
}